.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  h1 {
    font-family: Monaco;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 1rem;

    span {
      font-family: RalewayExtraLightItalic;
      margin-left: 1rem;
    }
  }

  p {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 14px;
    letter-spacing: 2px;

    img {
      height: 24px;
      width: 24px;
      margin: 0 0.2rem;
    }
  }
}
