.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .title {
    width: auto;

    h1 {
      font-family: Monaco;
      font-size: 60px;
      @media only screen and (max-width: 500px) {
        font-size: 40px;
      }
      font-weight: normal;
      margin-bottom: 1rem;

      span {
        font-family: RalewayExtraLightItalic;
        margin-left: 1rem;
      }
    }
  }

  .form-search {
    @media only screen and (max-width: 500px) {
      min-width: 250px;
      box-sizing: border-box;
      padding: 0 30px;
    }
    max-width: 100vw;
    padding: 0 30px;
  }

  p {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 14px;
    letter-spacing: 2px;

    img {
      height: 24px;
      width: 24px;
      margin: 0 0.2rem;
    }
  }
}
