$purple: #ac53f2;

.container-result {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 35px 50px;

  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    @media only screen and (max-width: 700px) {
      justify-content: center;
      padding: 0 0;
      width: 100%;
    }

    .title {
      width: 300px;
      h1 {
        @media only screen and (max-width: 800px) {
          display: none;
        }
        font-family: Monaco;
        font-size: 40px;
        font-weight: normal;
        outline: none;
        cursor: pointer;

        span {
          font-family: RalewayExtraLightItalic;
          margin-left: 10px;
        }
      }
    }

    .form-search {
      @media only screen and (min-width: 800px) {
        min-width: 400px;
        // max-width: 100vw;
        box-sizing: border-box;
        padding: 0 55px;
      }
      max-width: 80vw;
      box-sizing: border-box;
    }
  }

  .content-body {
    display: flex;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
    flex-direction: row;

    .sidenav {
      width: 300px;
    }

    .repos-user {
      width: calc(100% - 300px);
      @media only screen and (max-width: 700px) {
        justify-content: center;
        padding: 0 0;

        width: 100%;
      }
      box-sizing: border-box;
      padding: 0 55px;

      .content-repos {
        padding-top: 53px;
      }

      .not-found {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          padding: 210px 300px 0 0;
          font-family: Raleway;
          font-size: 40px;
          color: $purple;
        }
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px 300px 0 0;
  box-sizing: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 1px;
  border-radius: 100%;
  border: 5px solid $purple;
  border-color: $purple transparent $purple transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
